<h2>Оказание платных услуг населению «Служба садовников»</h2>

<h3>Уход и обслуживание</h3>

<ul>
	<li>Спил деревьев, обрезка аварийных веток, удаление деревьев по частям. Спилы деревьев с земли – 400 руб шт.</li>
	<li>Спил сухих больных и поврежденных ветвей. Наличие площади под деревом свободного сброса ветвей обязательно. Стоимость от 800 до 2000 р. Дерево.</li>
	<li>Удаление и раскарчевка деревьев шт. - 2000 руб.</li>
	<li>Корчевка пней шт.-1000 руб.</li>
	<li>Опрыскивание против вредителей и болезней 1 шт. 150 руб.</li>
	<li>Проведение опрыскивания деревьев до 4-х метров высотой и кустарников. Стоимостьв зависимости от высоты дерева, без учета стоимости химикатов.</li>
	<li>Обрезка и формирование кроны деревьев и кустарников 1 шт. 400 руб.</li>
	<li>Стоимость – в зависимости от высоты дерева, его возраста и состояния.</li>
	<li>Стрижка кустарников в живой изгороди 1 п.м. 120-3000 руб.</li>
	<li>Стрижка газона 1 м.кв. 150 руб.</li>
	<li>Уход за газоном 1 м.кв. 300 руб.</li>
	<li>Выполняются все необходимые мероприятия по уходу за газоном, в т. ч.: стрижка, аэрация, прочесывание, мульчирование, внесение удобрений.</li>
	<li>Удаление сорняков (сплошное) с помощью гербецидов 1 м.кв. От 700 руб.</li>
	<li>Удаление сорняков сплошное механическим путем 1м.кв.500 руб.</li>
	<li>Перекопка и ручная выборка сорняков 1 м.кв. 800 руб.</li>
	<li>Полив 1 м.кв. – 10 руб.</li>
	<li>Консультация профильного специалиста с выездом на участок -500р.</li>
	<li>Выезд бригады садовников с агрономом, выполнение уборных работ -5500р. День.</li>
	<li>Комплексное обслуживание приусадебного участка бригадой садовников (с апреля по октябрь) – абонентская плата от 8000 месяц.</li>
	<li>Уход за всеми видами зеленых насаждений; газоны, цветники, розарий, хвойные, плодовые и пр.</li>
	<li>Оплата –в месяц. В стоимость входят все необходимые мероприятия по уходу за участком и материалы.</li>
	<li>Выезд специалиста по комплексному уходу и обслуживанию 1 день 2000 руб.</li>
	<li>Очистка территории с вывозом мусора 1 м.куб. от 1500 руб.</li>
</ul>


<h3>Работы по благоустройству и озеленению по готовому ландшафтному проекту</h3>

<ul>
	<li>Геопластика (создание холмистой поверхности) 1 м.куб. - 1000 руб.

	<p>В стоимость не входит завозимый планировочный грунт</p>
	</li>
	<li>Строительство подпорной стенки с облицовкой 1п. м от 6000 руб.</li>
	<li>Строительство дорожек и площадок на гравийно-песчаной основе 1 м.кв. - 2000 руб.</li>
	<li>Строительство дорожек и площадок на бетонном основании 1 м.кв. - 3300 руб.</li>
	<li>Материал мощения- брусчатка из природного камня. 1 м.кв. от 4000 руб.</li>
	<li>Установка бордюрного камня. Стоимость указана без учета материалов 1.п.м. от 700 руб.</li>
	<li>Микропланирование вручную 1 м.кв. – 100 руб.</li>
	<li>Насыпка плодородного грунта (толщина 5-20 см) без стоимости материала 1 кв.м. – 80 руб.</li>
	<li>Устройство газона:</li>
	<li>Посев газонных семян 1 м.кв. -10 руб.</li>
	<li>Боронование 2-х кратное 1 м.кв. - 60 руб.</li>
	<li>Покос газона 1 м.кв. - 50 руб.
		<p>Стоимость в зависимости от объема и сложности работ (что определяется текущим состоянием почвенного покрова участка, количеством сорняков, количеством завозимого плодородного грунта. До 600 руб. за 1 кв.м.)</p>
	</li>
	
	<li>Укладка рулонного газона 1 кв.м. – 650 руб.<p>Использование рулонного газона требует такой же тщательной подготовки почвы, как и при создании посевного газона, что в значительной степени влияет на стоимость газона. Кроме этого, стоимость укладки рулонного газона будет выше, если работы ведутся на крутом склоне или участке сложной конфигурации.</p></li>
	
	<li>Устройство газона с применением газонной решетки 1. кв. м. – 1400 руб.</li>
	<li>Цветник из однолетних или многолетних цветов, декоративных кустарников 1 кв.м. - 2900-5000 руб.<p>В стоимость включены растения, насыпной грунт и другие необходимые материалы. Стоимость зависит от используемых растений, плотности посадки, количества завозимого грунта.</p></li>
	
	<li>Альпийская горка, склон 1.м.кв. – 10000-25000 руб.
<p>В стоимость включены растения, камни и другие необходимые материалы.</p>
	</li>

	<li>Водоем 1 м.кв. – 12000–30000 руб.<p>В стоимость, рассчитываемую исходя из площади поверхности водоема и благоустраиваемой прибрежной зоны, включены растения, камни и другие необходимые материалы. В стоимость не входят прудовое оборудование и светотехника.</p></li>
	
	<li>Ручей 1 п. м. – 12000–22000 руб. <p>Стоимость указана для ручья шириной до 2 м, включая благоустраиваемую прибрежную зону (ширина самого ручья – до 1 м.). В стоимость включены растения, камни и другие необходимые материалы. В стоимость не входят гидротехническое и световое оборудование.</p></li>
	<li>Реконструкция водоема 1 м. кв. - 10000-20000 руб. <p>В стоимость, рассчитываемую исходя из площади поверхности водоема и благоустраиваемой прибрежной зоны, включены растения, камни и другие необходимые материалы. В стоимость не входят гидротехническое оборудование и светотехника.</p></li>

	<li>Посадка лиственных кустарников 300-600 руб. шт. <p>Стоимость посадки кустарников указана без учета цены посадочного материала. В стоимость входят работы по подготовке посадочных мест и посадке кустарников, все необходимые материалы: удобрения и стимуляторы, грунт, фиксирующие приспособления и пр.</p></li>

	<li>Посадка хвойных кустарников 400-1000 руб. шт. <p>Стоимость посадки кустарников указана без учета цены посадочного материала. В стоимость входят работы по подготовке посадочных мест и посадке кустарников, все необходимые материалы: удобрения и стимуляторы, грунт, фиксирующие приспособления и пр.</p></li>

	<li>Посадка лиственных деревьев (высотой до 2 м) шт. 1500 руб. <p>Стоимость летней посадки лиственных деревьев высотой до 2 м указана без учета цены посадочного материала. В стоимость входят работы по подготовке посадочных мест и посадке деревьев, все необходимые материалы: удобрения и стимуляторы, грунт, фиксирующие приспособления и пр.</p></li>

	<li>Посадка хвойных деревьев (высотой до 2 м) <p>Стоимость летней посадки хвойных деревьев высотой до 2 м указана без учета цены посадочного материала. В стоимость входят работы по подготовке посадочных мест и посадке деревьев, все необходимые материалы: удобрения и стимуляторы, грунт, фиксирующие приспособления и пр.</p></li>

	<li>Вертикальное озеленение 1 п.м. – 500-3300 руб. <p>Стоимость вертикального озеленения зданий и сооружений рассчитывается исходя из ширины украшаемого фасада. Начальная высота высаживаемых вьющихся растений составляет не менее одного метра.</p></li>

</ul>


<h3>Ландшафтный дизайн. Ландшафтное проектирование.</h3>

<ul>
	<li>Первичный выезд специалистов 800 руб.</li>
</ul>

<h4>Содержание работ:</h4>
<ol>
	<li>Выезд,</li>
	<li>Осмотр участка,</li>
	<li>Консультации и обсуждение,</li>
	<li>Составление совместно с заказчиком проектного задания,</li>
	<li>Замеры,</li>
	<li>Фотосъемка</li>
</ol>

<p>При условии заключения договора на проектирование и его оплаты услуга предоставляется <b>бесплатно</b> в пределах п. «Маленькая страна»</p>

<ul>
	<li>Дизайн-проект, включающий стандартный комплект проектной документации:</li>
</ul>

<ol>
	<li>Два предварительных варианта (эскиза) планировки,</li>
	<li>Пояснительная записка к проекту,</li>
	<li>Генеральный план озеленения и благоустройства,</li>
	<li>Дендроплан,</li>
	<li>Разбивочный чертеж,</li>
	<li>Посадочный чертеж,</li>
	<li>Анализ существующей ситуации</li>
	<li>Ассортиментная ведомость посадочного материала,</li>
	<li>Технологическое описание посадки растений,</li>
	<li>Описание особенностей ухода за наиболее требовательными растениями (если такие растения предусмотрены проектам),</li>
	<li>Схема расположения осветительных элементов системы садового освещения с радиусами освещения (если требуется система освещения),</li>
	<li>Укрупненная смета на реализацию проекта.</li>
</ol>

<p>Готовый ландшафтный проект передается заказчику в печатном и электронном виде.
	Стоимость проектных работ 1 м.кв. – 45 руб.</p>

<ul>
	<li>Детальный проект отдельного элемента ландшафта 1 м.кв. от 1000 руб. <p>Это может быть проект такого элемента, как цветник, альпинарий, водоем, ручей, водопад, подпорная стенка и т.п. Разрабатываются по желанию заказчика.</p></li>
	
</ul>


<h2>Вывоз строительного мусора</h2>

<ul>
	<li>Стоимость 1 куб.м. - 475 руб.</li>
	<li>Не габаритный (длиной от 2,5 м. шириной от 1.м.) . - 550 руб куб.м.</li>
</ul>

<p>Заявки принимаются по тел: 8 987 282 0817</p>

<div class="alert alert-warning alert-dismissible" role="alert">
  Мусор должен быть упакован в мешки или коробки
</div>
